{% extends "base.html.twig" %}

{% block title %}
 films non vus
        
    
{% endblock %}

{% block body %}

    <h1 class="text-center p-5">
   Visualisez vos films non vus
                    
            
    </h1>
    {% if app.user %}
        <div class="mb-3">
            vous etes connecté en tant que 
                        
            {{ app.user.username }}
            , 
                        
            <a href="{{ path('app_logout') }}">
                deconnection
                            
            </a>
        </div>
    {% endif %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for movie in movies %}
                <div class="col">
                    <div class="card h-100">
                        {% if movie.image starts with 'http' %}
                            <img
                        style="max-width: 100%" src="{{ movie.image }}" alt="{{ movie.name }}" />
                            {% else %}
                            <img style="max-width: 100%" src="/assets/upload/images/{{ movie.image }}" alt="{{ movie.name }}" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ movie.name }}
                            </h5>
                            <p class="card-text" style="white-space: nowrap;
                                                                                                         overflow: hidden;
                                                                                                         text-overflow: ellipsis;
                                                                                                         max-width: 200px;">
                                Synopsis : 
                                                                    
                                {{ movie.synopsis | raw }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}